VITE_FIREBASE_API_KEY=AIzaSyBvQqkQ4-S1WIROxMudqXiAQQBZ8FyHfiE
VITE_FIREBASE_AUTH_DOMAIN=realtimescores-ce78f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=realtimescores-ce78f
VITE_FIREBASE_STORAGE_BUCKET=realtimescores-ce78f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=790660222080
VITE_FIREBASE_APP_ID=1:790660222080:web:86c386848eb41cc7e0aa65